.GtkButton
{
    border-radius: 3px;
    border: none;
    background: blue;
    color: white;
    transition: background 0.3s;
}
.GtkButton:hover
{
    background: darkblue;
}
.GtkWindow
{
    background-color: white;
}
.Input
{
    padding-left: 15px;
    border-radius: 0px;
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    font-family: "sans-serif";
    font-weight: 100;
    color: black;
}
.GtkLabel
{
    font-family: "Calibri";
    font-size: 15px;
    color: black;
}