.GtkButton
{
    font-family: "Arial";
    font-size: 15px;
    border-radius: 3px;
    border: none;
    box-shadow: none;
    background: blue;
    color: white;
    transition: background 0.3s;
}
.GtkButton:hover
{
    background: darkblue;
}
.GtkWindow
{
    background-image: url("../img/earth.jpg");
    background-size: 100% 100%;
}
.Input
{
    caret-color: black;
    padding-left: 15px;
    border-radius: 0px;
    background: rgb(233, 233, 233);
    border-radius: 20px;
    border: 1px solid transparent;
    box-shadow: none;
    text-shadow: none;
    font-family: "Arial";
    color: black;
    transition: background 0.3s, border 0.3s;
}
.Input:focus
{
    background: rgb(241, 241, 241);
    border: 1px solid lightblue;
}
.GtkLabel
{
    font-family: "Noto Sans";
    background: rgba(0, 0, 0, 0.5);
    padding: 50px;
    border-radius: 50px;
    font-size: 18px;
    color: white;
}
.nextToInput
{
    color: white;
    font-family: "Arial";
    font-size: 13px;
}